#showcase {
    min-height: 450px;
    color: rgb(255, 255, 255);
     text-align: center;}

     .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
     }
     #showcase .bg-image {
        position: absolute;
        width: 100%;
        height: 450px;
        z-index: -1;
        opacity: 0.9;
        background: url(https://static.pexels.com/photos/248515/pexels-photo-248515.png) center center / cover no-repeat rgb(51, 51, 51);
        background-position: center center;
        background-repeat: no-repeat;}

        #showcase .content-wrap, #section-a .content-wrap {
            padding: 0px 1.5em;}

            .content-wrap, #section-b ul {
                grid-column: 2 / 4;
                grid-column-start: 2;
                grid-column-end: 4;
            }
            #showcase h1 {
                padding-top: 100px;
                padding-bottom: 0px;
            }
            h1, h2, h3 {
                margin: 0px;
                padding: 1em 0px;
            }
            h1 {
                display: block;
                font-size: 2em;
                margin-block-start: 0.67em;
                margin-block-end: 0.67em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: bold;
            }
            p {
                margin: 0px;
                padding: 1em 0px;
            }
            
            p {
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
            .btn {
                display:-ms-inline-flexbox;
                color: rgb(255, 255, 255);
                background: rgb(51, 51, 51);
                text-decoration: none;
                padding: 1em 2em;
                border-width: 1px;
                border-style: solid;
                border-color: rgb(102, 102, 102);
                border-image: initial;
                margin: 0.5em 0px;
            }

            #section-a {
                color: rgb(51, 51, 51);
                padding-bottom: 2em;
                background: rgb(234, 234, 234);
            }

            .grid {
                display: grid;
                grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
            }

             #section-a .content-wrap {
                padding: 0px 1.5em;
            }
            h1, h2, h3 {
                margin: 0px;
                padding: 1em 0px;
            }
            user agent stylesheet
            h2 {
                display: block;
                font-size: 1.5em;
                margin-block-start: 0.83em;
                margin-block-end: 0.83em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: bold;
            }
            #section-a .content-text {
                column-width: auto;
                column-count: 2;
                column-gap: 2em;
            }
            user agent stylesheet
            div {
                display: block;
            }            





            #section-b {
                padding: 2em 1em 1em;
            }
            
.grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}

#section-b ul {
    display: flex;
    justify-content: space-around;
}

.content-wrap, #section-b ul {
    grid-column: 2 / 4;
}
#section-b ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#section-b li {
    width: 31%;
}

#section-b li {
    margin-bottom: 1em;
    color: rgb(51, 51, 51);
    background: rgb(255, 255, 255);
}

li {
    display: list-item;
    text-align: justify;

}


#section-c {
    color: rgb(51, 51, 51);
    background: rgb(255, 255, 255);
    padding: 2em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}


.content-wrap, #section-b ul {
    grid-column: 2 / 4;
}
div {
    display: block;
}






































































































.main-footer {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 2em;
    background: rgb(0, 0, 0);
}



.box, #main-footer div {
    grid-column: span 2 / auto;
    grid-column-start: span 2;
    grid-column-end: auto;
}


.grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}

